# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Vector databases
# -------------------------
cyber_crime_db/
chroma_db/

# -------------------------
# Editor / OS junk
# -------------------------
.vscode/
.DS_Store
Thumbs.db
